        body {
            background: #000000;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: 'Thasadith', sans-serif;
            user-select: none;
        }

        .MW_BG {
            min-height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            filter: brightness(30%);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }

        .MW_Header {
            background: rgba(0, 0, 0, 0.1);
            border-bottom: 0.1vmin solid rgba(255, 255, 255, 0.1);
            top: 0;
            right: 0;
            left: 0;
            position: fixed;
            overflow: hidden;
            transition: 1s;
            z-index: 3;
        }

        .MW_Header .mw_logo {
            color: #ffffff;
            margin-left: 2%;
            font-size: 5vmin;
            line-height: 10vmin;
            text-decoration: none;
            float: left;
        }

        .MW_Header .mw_nav_icon {
            color: #ffffff;
            margin-right: 2%;
            font-size: 5vmin;
            line-height: 10vmin;
            float: right;
            cursor: pointer;
        }

        .MW_Nav {
            background-color: #000000;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            text-align: right;
            position: fixed;
            padding-top: 1.5vmin;
            overflow: hidden;
            transition: 1s;
            z-index: 2;
        }

        .MW_Nav a {
            color: #777777;
            margin-right: 5%;
            text-decoration: none;
            font-size: 4.5vmin;
            font-weight: bold;
            line-height: 6vmin;
            transition: 1s;
            text-decoration: none;
            font-family: 'Thasadith', sans-serif;
        }

        .MW_Nav a:hover {
            color: #ffffff;
        }
        
        .MW_Menu {
            background: linear-gradient(45deg, #09b3d3, transparent 45%, transparent 55%, #ff52a0);
            right: 0;
            left: 0;
            margin-top: 10vmin;
            text-align: center;
            white-space: nowrap;
            position: relative;
            z-index: 1;
        }





        .MW_Menu input{
            background: transparent;
            color: #ffffff;
            border-color: transparent;
            font-size: 4vmin;
            text-decoration: none;
            cursor: pointer;
            font-family: '微軟正黑體', sans-serif;
            transition: 0.8s;
        }

        .MW_Menu input:hover{
            background: rgba(0, 0, 0, 0.5);
        }


        .game_Menu {
            background: linear-gradient(45deg, #09b3d3, transparent 45%, transparent 55%, #ff52a0);
            right: 0;
            left: 0;
            margin-top: 2vmin;
            text-align: center;
            white-space: nowrap;
            position: relative;
            z-index: 1;
        }

        .game_Menu input{
            background: transparent;
            color: #ffffff;
            border-color: transparent;
            font-size: 4vmin;
            text-decoration: none;
            cursor: pointer;
            font-family: '微軟正黑體', sans-serif;
            transition: 0.8s;
        }

        .game_Menu input:hover{
            background: rgba(0, 0, 0, 0.5);
        }